/* IMPOSTAZIONI GENERALI */
body {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8;
}

.button {
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);
    color: white;
    font-size: 1.5em;
    padding: 10px;
} 

.button a {
    text-decoration: none;
    color:white
} 

h1 {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 40px;
}

h2 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
}

p{
    text-align: center;
}

h3 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 15px;
    text-align: center;
}

i {
    color: red;
}

footer {
    padding: 40px;
}

header>div,
main>div,
footer>div {
    margin-bottom: 20px;
}

main #main-content,
section,
aside {
    text-align: center;
}

.lni {
    color: red
}



/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d3d3d3;
    box-shadow: 5px 5px 3px #d3d3d3;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 20px;
}

#logo img {
    width: 200px;
}

#logo {
    margin: 0;
}

header nav .lni {
    font-size: 2.5em;
}

nav {
    position: relative;
}
ul{
    list-style-type: none;
    position: absolute;
    top: 30px;
    right: 70px;
    background-color: white;
    width: 200px;
    text-decoration: none;
    visibility: hidden;
    transition: visibility 10s ease-out;
}

nav a:hover ~ ul{
    visibility: visible;
}

/* MAIN */

 #title {
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    background-image: url('../images/banner.jpg');
    background-position: center;
    padding: 40px;
}

#title p {
    margin-bottom: 40px;
    text-align: left;
}

main #main-content {
    padding: 40px;
}

main div {
    margin-bottom: 30px;
}

#main-content i {
    font-size: 3rem;
}


section {
    background-color: #0c0633;
    color: white;
    padding: 120px 40px;
}

section p {
    margin-bottom: 20px;
}

aside img {
    margin-bottom: 10px;
}

#chi-siamo-img{
    text-align: center;
}

#chi-siamo-img img{
    width: 60%;
}

table{
    width: 100vw;
    text-align: center;
    margin: auto;
}



table td{
    padding:10px;
}

table tr td:first-child{
    font-weight: bold;
}


#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#form #nome, #form #mail, #form #messaggio {
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}


 





/* FOOTER */
footer {
    background-color: rgb(238, 238, 238);
    padding: 10px 20px;

}

h4 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

#email {
    display: block;
    width: 100%;
    height: 50px;

}

footer button {
    display: block;
    width: 100%;
    height: 60px;
}

footer p{
    text-align: left;
    margin-bottom: 20px;
} 

/* RESPONSIVE */

@media screen and (min-width: 768px) {

    #cards {
        display: flex;
        justify-content: space-between;
    }


    #cards p {
        text-align: left;
    }

    #cards div {
        padding: 10px;
    }

    aside {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    aside div{
        padding-left: 20px;
        margin-top: 20px;
    }


     #footer-flex{
        display: flex;
        justify-content: center;
        text-align: left;
     }

     footer .button{
        font-size: 1rem;
     }

     address{
        text-align: center;
     }

     footer div{
        padding: 20px;
     }

     #contatti-flex{
        display: flex;
        justify-content: space-around;
     }
     #contatti-flex div{
        padding: 50px;
     }

     #chi-siamo-img{
        display: flex;
        justify-content: space-between;
     }

}  